<!--
  Generated template for the LessonDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{lesson.subject.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <div>
      <img id="map_canvas" />
    </div>
    <ion-card-content>
      <ion-card-title>{{ lesson.subject.name }}</ion-card-title>
      <p>The lesson starts at {{ lesson.timeSlot.startTime | date:'d MMM, HH:mm' }} and ends at {{ lesson.timeSlot.endTime | date:'HH:mm'
        }}. It is in the classroom {{ lesson.classroom.name }}.
      </p>
    </ion-card-content>

   
    <button *ngIf="userType === 'STUDENT'" class="no-margin-bottom" ion-button (click)="selectLessonRate(lesson)" full>Rate this lesson</button>
    <button *ngIf="userType === 'PROFESSOR'" class="no-margin-bottom" ion-button (click)="selectLessonSeeRate(lesson)" full>See ratings of this lesson</button>
  </ion-card>

  <ion-card *ngIf="documents.length === 0">
    <ion-card-content>
      No documents available for this lesson.
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let d of documents; let index = index">
    <ion-card-header>
      <span class="text-bold">{{d.name}}</span>
    </ion-card-header>
    <ion-card-content>
      <p>{{d.note}}</p>
      <p class="text-grey"><small>Published on {{d.publishDate | date:'d MMM, HH:mm'}}</small></p>
    </ion-card-content>

    <ion-row>
        <ion-col>
          <button ion-button icon-start clear small (click)="downloadFile(d)">
            <ion-icon name="ios-cloud-download"></ion-icon>
            <div>Download</div>
          </button>
        </ion-col>
        <ion-col text-right>
          <button *ngIf="userType === 'STUDENT' && (!documentMap.get(d.id))" ion-button icon-start clear small (click)="selectDocumentRate(d)">
            <ion-icon name="ios-text"></ion-icon>
            <div>Rate</div>
          </button>
          <button *ngIf="userType === 'PROFESSOR'" ion-button icon-start clear small (click)="selectDocumentSeeRate(d)">
            <ion-icon name="ios-text"></ion-icon>
            <div>See ratings</div>
          </button>
        </ion-col>
      </ion-row>
  </ion-card>

</ion-content>
